body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: black;
  color: #b8fff9;
}

.matrix-bg {
  min-height: 100vh;
  background-image: radial-gradient(#00f5d433 1px, transparent 1px);
  background-size: 40px 40px;
}

.title {
  font-size: 46px;
  color: #00f5d4;
  text-align: center;
  text-shadow: 0 0 20px #00f5d4;
}

.logo {
  font-size: 58px;
  text-align: center;
  margin-bottom: 40px;
}

.scanner-box {
  width: 50%;
  margin: auto;
  padding: 30px;
  border-radius: 12px;
  border: 2px solid #00f5d4;
  box-shadow: 0 0 25px #00f5d4;
  background: rgba(0, 0, 0, 0.8);
}

.password-wrapper {
  position: relative;
}

input {
  width: 100%;
  padding: 14px;
  background: black;
  border: 1px solid #00f5d4;
  color: white;
}

.eye {
  position: absolute;
  right: 15px;
  top: 14px;
  cursor: pointer;
  color: #00f5d4;
}

.meter {
  margin-top: 15px;
  height: 12px;
  background: #111;
  border-radius: 8px;
  overflow: hidden;
}

.meter-fill {
  height: 100%;
  width: 0%;
  transition: width 0.5s;
}

.result-box {
  margin-top: 25px;
  padding: 20px;
  background: #001f1c;
  box-shadow: 0 0 15px #00f5d4;
}

  .back-btn {
  color: #00f5d4;
  background: none;
  border: none;
  font-size: 20p
}